<nav class="breadcrumb">
  <% @topics.each do |topic| %>
      <%=link_to "#{topic.title}", blogs_path(:title => "#{topic.title}")%> |
  <%end%>
</nav>
<br>
<div id='tag_cloud'>
  <%= fa_icon "tags"%><% tag_cloud Blog.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<hr>