<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Eugene Wilkins III</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
      <%= link_to "Admin", rails_admin_path, class: 'nav-link' if logged_in?(:site_admin)%>
    </nav>
  </div>
</div>