
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <%= nav_helper 'nav-link', 'li' %>  
            <li><%= login_helper 'nav-link login-links' %><li>
            <li><%= link_to "Admin", rails_admin_path, class: 'nav-link' if logged_in?(:site_admin)%></li>
        </ul>
    </div>
</nav>


        <%# <li><a href="#page-welcome">Home</a>
        </li>
        </li>
        <li><a href="#page-contact">Contact</a>
        </li> %>
  