<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blogs</h1>
    <p class="lead blog-description">Created by: Eugene Wilkins III</p>
    <%= link_to 'Write a New Blog', new_blog_path, class: "btn btn-primary" if logged_in?(:site_admin) %>
  </div>
</div>