<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted face">I'm a curious developer, with a big appetite for knowledge.  When I’m not playing with my daughters I’m creating beautiful web application with my wife. Yeah we talk code in my house <i class="em em-slightly_smiling_face"></i>. If you’re looking for a new addition to your team, check out my portfolio below. If you need some advice on coding send me a message or leave a comment on one of my blogs. </p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= link_to "Create New Item", new_portfolio_path, class: "text-white" if logged_in?(:site_admin)%></li>
          <%= login_helper 'text-white'%>
          <li><%= link_to "Admin", rails_admin_path, class: 'text-white' if logged_in?(:site_admin)%></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Eugene Wilkins III</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>