<footer class="footer">
  <div class="footer-copyright">
		<div class="row">
			<div class="col-md-12">
				<div class= "text-center"><%=copyright_generator%></div>
			</div>
		</div>
	</div>
</footer>