<section id="page-education" class="page-education">
	<br>
	<br>
	<div class="container">
		<header class="section-header">
				<h2 class="section-title"><span>Education</span></h2>
				<div class="spacer"></div>
				<p class="section-subtitle"></p>
		</header>
		<div class="row">
			<% @educations.each do |education|%>
				<div class="col-md-6">
					<article class="education">
						<header>
							<h3><%= education.name%> </h3>
							<p><%= education.title%>- <strong>Graduated:</strong> 
								<% if education.end_year.to_s.present? %>
										<%= education.end_year.to_s %>
								<% else %>
									Present
								<%end%>
							</p>
						</header>
						<p><%= education.description %></p>
					</article>
				</div>
			<%end%>
		</div>
	</div>
</section>