<section id="page-experience" class="page-experience">
	<br>
	<br>
	<div class="container">
		<header class="section-header">
			<h2 class="section-title"><span>Experience</span></h2>
			<div class="spacer"></div>
			<p class="section-subtitle"></p>
		</header>
		<div class="row">
			<% @experiences.each do |experience|%>
				<div class="col-md-4">
						<article class="experience">
							<header>
								<h3><%= experience.name %></h3>
								<p> <%= "#{experience.title} / #{experience.city}, #{experience.state.capitalize} / #{experience.start_year.to_s} -"  %> 
									<% if experience.end_year.to_s.present? %>
										<%= experience.end_year.to_s%>
									<% else %>
										Present
									<%end%>
								</p>
							</header>
							<% experience.experience_desciptions.by_position.each do |desciption| %>
								<p><%= desciption.body%></p>
							<%end%>
						</article>
				</div>
			<%end%>
		</div>
	</div>
</section>