<section id="page-profile" class="page-profile">
  <br>
  <br>
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">Personal Profile</h2>
      <div class="spacer"></div>
      <p class="section-subtitle">A Little Bit About Myself</p>
    </header>
    <div class="row">
      <div class="col-md-3">
          <div class="profile"><%= image_tag "profile.jpg", alt: "profile", class: 'profile-img' %>
          </div>
      </div>
      <div class="col-md-9">
          <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</section>