<div class="inner cover">
    <h1>A little bit about myself</h1>
    <p>Innovative catalyst, with a wide range of functional expertise in Information Technology: programming languages, framework, databases, and platforms.  A quality-focused, technology professional with over five years’ experience in web development with Drupal, and two year experience with Ruby on Rails.  Excels equally working autonomously or as part of a team.  Versatile and flexible with the ability to thrive in high-pressure situations.  Proactively navigates intense workloads.  Demonstrated business acumen and ability to meet fiscal and deadline commitments.  </p>
    <p class="lead">
       <%= link_to "Hire Me", contact_new_path, class: "btn btn-lg btn-secondary"%>
    </p>
</div>