<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>5061 W Newport Ave, Chicago, IL 60641</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "7737172895" %></p>

    <p class="lead">
      <%= link_to "Email Me", contact_new_path, class: "btn btn-lg btn-secondary"%>
    </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2967.665997063233!2d-87.75651768415666!3d41.943027979217085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcc5dcd7e9243%3A0x990171e9371cef25!2s5061+W+Newport+Ave%2C+Chicago%2C+IL+60641!5e0!3m2!1sen!2sus!4v1492570746074" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
