<div class="content">
  <div class="inner cover">
    <h1 class="cover-heading">Welcome to my Portfolio Application</h1>
    <p class="lead">
      Please feel free to checkout my blogs and my portfolio of Ruby on Rails applications that I've created.
         If you like what you see, you can reach me by clicking on the contact tab above.
    </p>
    <p>
      <% @skills.each do |skill| %>
        <img src=<%=skill.image%>>
      <%end%>
    </p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
    </p>
  </div>
</div>