@import "bootstrap";
@import "gritter";
@import "font-awesome";
@import "perfect-scrollbar";
@import "blue";

/* ==========================================================================
   Articulate v1.0
   ========================================================================== */
/* ==========================================================================
   Base styles
   ========================================================================== */

   html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #757575;
}
img {
    max-width: 100%;
}
a:link, a:visited {
    outline: 0;
}
a:hover, a:active {
    text-decoration: none;
}
a img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
/* ==========================================================================
   Navigation
   ========================================================================== */


/* ==========================================================================
  Layout 
   ========================================================================== */

#page-welcome {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('fabian-grohs-597395-unsplash.jpg')
}
#page-welcome header {
    color: #ffd700;
    padding-top: 20%;
}
#page-welcome header h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-transform: uppercase;
}
#page-welcome header p {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
    letter-spacing: 0.1em;
    line-height: 3em;
    text-transform: uppercase;
}
#page-profile {
    padding: 75px 0;
    background: #fff;
}
#page-profile .profile {
    border: 5px solid #333;
    width: 225px;
    height: 225px;
    margin: 0 20px 20px 0;
}
#page-skills {
    padding: 75px 0;
    background: #f7f7f7;
    text-align: center;
}
#page-education {
    padding: 75px 0;
    background: #fff;
}
#page-experience {
    padding: 75px 0;
    background: #f7f7f7;
}
#page-reference {
    padding: 75px 0;
    background: #fff;
}
#page-contact {
    padding: 75px 0;
    background: black;
    color: #ffd700;
}
#page-contact .contact-info p {
    font-size: 1.2em;
}
/* ==========================================================================
   Portfolio   
   ========================================================================== */

#grid-controls-wrapper {
    text-align: center;
    float: none;
    width: 100%;
}
.center-pills {
    display: inline-block;
}
#grid .mix {
    width: 200px;
    height: 150px;
    vertical-align: top;
    margin: 20px 20px 20px 0;
    color: #fff;
    text-align: center;
}
#grid .mix .thumbnail {
    border: 2px thin #F7F7F7;
    padding: 0;
    border-radius: 0;
}
#grid .mix .overlay {
    width: 200px;
    height: 150px;
    position: absolute;
    opacity: 0;
	top:0;
}
#grid .mix .overlay:hover {
    opacity: .8;
}
#grid .mix .overlay i {
    font-size: 2em;
    opacity: 1;
    color: #fff;
    padding-top: 30%;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/* ==========================================================================
   Vegas slider
   ========================================================================== */

.vegas-loading {
    border-radius: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    background: url(../img/loading.gif) no-repeat center center;
    height: 32px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 0;
}
.vegas-overlay {
    background: transparent url(../img/overlays/16.png);
    opacity: 0.5;
    
}
.vegas-background {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none !important;
    /* counteracts global img modification by twitter bootstrap library */
    
    z-index: -2;
}
.vegas-overlay, .vegas-background {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider-controls {
    opacity: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.slider-controls li {
    list-style: none;
}
#page-welcome:hover .slider-controls {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.slider-controls li a {
    position: absolute;
    z-index: 10;
    top: 40%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.next {
    background: url("../img/next.png");
    margin-right: 70px;
    right: 0;
    opacity: 0.3;
}
.prev {
    background: url("../img/prev.png");
    margin-left: 70px;
    left: 0;
    opacity: 0.3;
}
.next:hover, .prev:hover {
    opacity: 1;
}
/* ==========================================================================
   Dividers
   ========================================================================== */

section {
    min-height: 100vh;
} 

   .section-header {
    text-align: center;
}
.section-header p {
    font-size: 1.5em;
}
.section-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
    padding: 20px 0;
}
.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
}
.section-subtitle {
    text-align: center;
    padding: 30px 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}
.btn.btn-default {
    background: transparent;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 12px 26px 12px;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 0;
    letter-spacing: 2px;
    pointer-events: auto;
    border-color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.btn.btn-default:hover, .btn.btn-default:active {
    background: #fff;
    border-color: #fff;
    color: fff;
}
input, .input-lg, button {
    border-radius: 0;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #b94a48;
}
label.error {
    color: #fff;
    background: #b94a48;
    border: solid thin #fff;
    padding: 3px 5px;
}
label.valid {
    color: #fff;
    background: #5CB85C;
    border: solid thin #fff;
    padding: 3px 5px;
}
.help-block ul{
      list-style: none;
      margin: 0;
      padding: 0;
}

.help-block ul li{
 background: #b94a48;
  color: #fff;
  padding: 4px 18px;
}
/* ==========================================================================
   Charts   
   ========================================================================== */

.chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 150px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
/* ==========================================================================
   Social icons
   ========================================================================== */

.social-icons .btn {
    margin-right: 15px;
}
.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}
.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}
.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}
.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}
.btn.btn-clear {
    border: 1px solid #fff;
    color: #ffd700;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.btn.btn-clear:hover, .btn.btn-clear.selected {
    background: black;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.btn-twitter:hover {
    color: #2BA9E0;
}
.btn-facebook:hover {
    color: #204385;
}
.btn-dribbble:hover {
    color: #D92C85;
}
.btn-instagram:hover {
    color: #BAB1A8;
}
.btn-linkedin:hover {
    color: #015786;
}
.btn-pinterest:hover {
    color: #CA2128;
}
.btn-google:hover {
    color: #D3492C;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.left {
    float: left;
}
.right {
    float: right;
}
.text-center {
    text-align: center;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
/* ==========================================================================
   Responsive Settings
   ========================================================================== */

@media(max-width:992px) {
    #page-profile .profile {
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 479px) {
    #page-welcome header h1 {
        font-size: 2em;
    }
    #page-welcome header p {
        font-size: 1em;
        line-height: 3em;
    }
    .section-title {
        font-size: 1.5em;
    }
    .section-header p {
        font-size: 1.2em;
    }
    #page-skills {
        text-align: center;
    }
    #grid {
        text-align: center;
    }
    #page-profile .profile {
        margin: 0 auto 20px auto;
    }
}
/* ###############################################################
Custom CSS */


/* ###############################################################
nav */


.nav-right{
    float: right;
  }

  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(51,55,68,0.6);
    overflow-y:hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffd700;
    display: block;
    transition: 0.3s;
  }
  .animate:hover {padding-left:50px;background-color:orange;transition:all 0.7s ease;}
  
  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    //margin-left: 400px;
  }
  
  #main {
    transition: margin-left .5s;
    background-color: #000;
  }
  
  /* End SlideBar */
  
  
  
  .navbar {
    width: 100%;
    box-shadow: 3px 3px 3px #222222;
    transition: 0.5s;
    font-size: 20px;
  }
  .nav{padding-right: 40px;}
  .nav li{
    float:right;
    display: block;
    padding:9px 10px;
  }
  .nav li a{
    text-decoration: none;
    color: #ffd700;
  }
  .nav li:hover{
    border-bottom: 3px solid;
    border-color: #ffd700;
    padding-bottom: 6px;
    -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
  }
  .nav li a:hover, .nav li a:focus{
    color: #e5e4e2;
    transition:all 0.3s ease;
  }

  .navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    z-index: 999;
    height: 90px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    }
     
    .navbar-fixed-top.cbp-af-header-shrink {
    height: 75px;
    }

  .slide-btn{
    float: left;
    display: block;
    margin:0px 20px;
    color: #818181;
  }
  .brand{
    margin-left: 30px;
    color: #FFF;
    display: block;
    float: left;
    padding-top:9px;
  }
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} 
  .test a {font-size: 18px;} 
  }
  @media screen and (max-width: 680px) {
    
    .nav a {overflow:hidden;display: none;}
    .slide-btn {display: block;}
  }
  @media screen and (min-width: 680px) {
    
    .slide-btn {overflow:hidden;display: none;}
  }

/* ###############################################################
Progress circle*/

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }


  /* ####################################################################
  Comments
  #################################################################### */

  .name-spacer {
    background: #e5e4e2;
    width: 100px;
    height: 2px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

  .position_name{
	position: relative;
}
.comment{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.card_profile{
	position: absolute;
	left: 50%;
	top: -115px;
	transform: translate(-50%,0%);
}	
.card_position_text{
	font-size: 22px;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%,0%);
}
.carousel-indicators{
	margin-bottom: -50px;
}
.carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: black;
}
.carousel-indicators > li.active{
    background-color: #ffd700;;
    width: 18px;
    height: 18px;
    margin-top: -3px;
}

/* Changing Controller Color */

.control_next{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#0060CD' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.control_prev{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#0060CD' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.card_profile{
		top: -120px;
	}
	.card_position_text{
		font-size: 20px;
	}
}

@media (max-width: 575px) {
	.border_none{
		width: 270px;
	}
	.card_position_text{
		font-size: 20px;
	}
	.card_profile{
		top: -120px;
	}
}

/* ###########_____________________________##############
New Comments
############________________________________########### */

.card-base > .card-icon {
    text-align: center;
    position: relative;
}

.card-block {
    color: white;
}

.imagecard { 
z-index: 2;
display: block;
positioN: relative;
width: 88px;
height: 88px;
border-radius: 50%;
border: 5px solid white;
box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
margin: 0 auto;
color: white;
}
.card-base > .card-icon > .card-data {
min-height: 250px !important;
margin-top: -24px;
background-image: url("https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg");
border: 1px solid #e0e0e0;
padding: 15px 0 10px 0;
 box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
min-height: 215px;
}
#widgetCardIcon {
    background: blue !important;
    font-size: 28px;
    line-height: 78px;
}

.fa-heart{
    color: red;
}

.badge-likes{
    color: #ffd700;
}

.fa-pencil-square-o{
    color: #e5e4e2;
}
// BUTTON

$gold: #ffd700;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}
.button-container {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}
button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: black;
  border: 2px solid $gold ;
  color:$gold ;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:black;
    background: $gold;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"VIEW PROJECT";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$gold;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$gold;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $gold;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.btn-default {
    border-radius: 40px;
    background-color: black;
    color: $gold;
    border: 2px solid $gold;
    cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:black;
    background: $gold;
    border: 2px solid black;
  }
}

.ref-btn{
  float: right;
  color: black;
  margin-top: 5em;
  margin-right: 5em;
}

/* ############################################################
footer
############################################################ */
footer{
    background-color: $gold;
}
.footer-copyright{
    color: black;
}

/* ##############################################
contact
############################################# */
.hidden{
    display: none;
}

.input-group-addon {
    color: BLACK;
    background-color: #ffd700;
}