<br>
<br>
<section id="page-contact" class="page-contact">
  <div class="container">
    <h2 class="section-title" style="color: #ffd700; "> <%= 'Hello ' + @ref.name + ' thanks in advance for being my reference?'%></h2>
    <div class="spacer"></div>
    <br>
    <br>
    <%= render 'form'%>
  </div>
</section>