<div class="content">
  <div class="inner cover">
    <div class="app-card-container">
      <div class="card">
        <h1 class="header-title"><%= 'Hello ' + @ref.name + ' thanks in advance for being my reference?'%></h1>
        <hr>
        <%= render 'form'%>
       </div>
    </div>
  </div>
</div>