<br>
<br>
<section id="page-contact" class="page-contact">
  <div class="container">
    <h1 class="section-title" style="color: #ffd700; "> Create New Reference</h1>
    <div class="spacer"></div>
    <br>
    <br>
    <%= render 'form'%>
  </div>
</section>
 